.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    background-color: #A2D5F2;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.header .heading {
    font-weight: bold;
    font-size: 2rem;
}

.header .heading span {
    color: #FF7E67;
    text-transform: capitalize;
}

.header .logout {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.header .logout:hover {
    color: #07689F;
    font-weight: bold;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

.section .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #07689F;
}

.section .profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section .profile .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.section .profile .image {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid grey;
}

.section .profile .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.section .camera {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
    color: #07689F;
    padding: 8px;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FAFAFA;
    cursor: pointer;
}

.section .camera svg {
    height: 22px;
    width: 22px;
    color: #07689F;
}

.section .left .progress {
    font-size: 0.8rem;
    font-weight: bold;
    color: #FF7E67;
    display: flex;
    justify-content: center;
}

.section .profile .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section .profile .right .row {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
}

.section .profile .right .row>div {
    flex: 1;
}

.saveButton {
    border: none;
    outline: none;
    color: #FAFAFA;
    border-radius: 5px;
    background-color: #07689F;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    width: fit-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveButton:hover {
    background-color: #FF7E67;
}

/* Style for disabled button upon submission of form */
.saveButton:disabled {
    background-color: #FAFAFA !important;
}