.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #A2D5F2;
    color: white;
    width: 100%;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: start;
}

.left .heading {
    font-weight: bold;
    font-size: 3rem;
    color: #07689F;
}

.left .subheading {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
}

.left button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #07689F;
    color: #FAFAFA;
    border-radius: 5px;
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.left button:hover {
    background-color: #FF7E67;
}

.right {
    max-width: 45%;
}

.right img {
    object-fit: contain;
    width: 100%;

}